body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 9vh;
	padding-top: 1vh;
}
header > img {
	height: 8vh;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
h1, h2, h3 {
	margin: 0.5em 0.5em 0em 0em;
}
div {
	width: 100%;
}
div > div {
	height: 100vh;
	overflow: hidden;
}
div:nth-child(odd) {
	background-color: black;
}
div:nth-child(even) {
	background-color: #F5F5F7;
}
.background {
	position: absolute;
	width: 25vw;
	height: 94vh;
	z-index: 0;
	background-image: url("../images/phone.png");
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(-40deg);
	top: 0em;
	left: 62%;
	overflow-x: hidden;
}
.page1 {
	position: absolute;
	top: 25%;
	left: 4%;
}
.page1 > h1 {
	font-size: 5em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > h2 {
	font-size: 2.8em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > h3 {
	font-size: 2em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > p {
	font-size: 1.3em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page6 {
	text-align: center;
	width: 100%;
	height: 100%;
}
.page6 > h1 {
	padding-top: 5%;
	font-size: 2.8em;
	color: #8B8589;
}
.page6 > section > section {
    margin: auto;
    margin-top: 5%;
    height: 55%;
    width: 40%;
    border: 2px solid #434242;
    box-shadow: 0.37em 0.37em 0.31em #434242;
    border-radius: 50px;
    position: absolute;
    background-color: #8B8589;
    color: #F5F5F7;
}
#review1 {
    z-index: 0;
    left: 5%;
    filter: blur(3px);
}
.page6 p {
	text-align: justify;
	font-size: 1.1em;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}
.reviewer {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 15%;
}
#review2 {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
#review3 {
    z-index: 0;
    right: 5%;
    filter: blur(3px);
}
.page6 img {
	position: relative;
	top: 58%;
	border: 2px outset #434242;
	margin: 0.5em;
	border-radius: 50%;
	z-index: 3;
}
#profile1, #profile3 {
	width: 4em;
	height: 4em;
}
#profile2 {
	width: 5em;
	height: 5em;
}
div:nth-child(8) {
	height: 70vh;
}
footer {
	width: 80%;
	height: 30vh;
	display: grid;
	grid-template-columns: 25% 15% 15% 45%;
	grid-template-areas: "footer1 footer2 footer3 footer4";
	padding-left: 10%;
	padding-right: 10%;
	background-color: black;
}
#footer1 {
	margin: auto;
	color: white;
	font-size: 0.7em;
	grid-area: footer1;
}
#footer1 > img {
	width: 3em;
	height: 3em;
}
#footer2 {
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13%;
	grid-area: footer2;
}
#footer3 {
	text-align: center;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 13%;
	grid-area: footer3;
}
#footer4 {
	margin: auto;
	color: white;
	grid-area: footer4;
}
footer h2 {
	font-size: 1em;
}
#footer4 > p {
	font-size: 0.7em;
}
#footer4 > input {
	border-radius: 0.3em;
	height: 2em;
	width: 14em;
	font-size: 1.1em;
	font-family: "Montserrat", sans-serif;
}
#footer4 > button {
	color: white;
	background-color: black;
	font-size: 1.1em;
	height: 2.5em;
	width: 8em;
	cursor: pointer;
	border: 3px solid white;
	border-radius: 0.3em;
	font-family: "Montserrat", sans-serif;
}
#footer4 > button:hover {
	color: black;
	background-color: white;
}
.page2 {
	width: 100%;
	display: grid;
	margin-top: 5%;
	flex-direction: row;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page2 > section {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 0%;
}
.page2 > section > img {
	width: 100%;
	height: 100%;
	max-width: 20em;
	max-height: 18em;
	border-top: 3px solid #D8D9DA;
	border-left: 3px solid #D8D9DA;
	border-radius: 0.3em;
	box-shadow: 0.37em 0.37em 0.31em #434242;
	background-color: white;
}
.page2 > section > span {
	margin-top: 2%;
	display: block;
	font-weight: 600;
	color: #8B8589;
}
div:nth-child(2), div:nth-child(4), div:nth-child(8) {
	text-align: center;
}
#page2h1 {
	padding-top: 7%;
	font-size: 2.8em;
	color: #8B8589;
}
#page2h2 {
	font-size: 2em;
	color: #8B8589;
}
#page3h1 {
	font-size: 4em;
}
#page3h3 {
	font-size: 1.6em;
}
.page3 {
	display: flex;
	width: 90%;
	height: 100%;
	flex-direction: row;
	text-align: left;
	align-items: center;
	margin: auto;
	margin-top: 2%;
	color: white;
}
.page3 > img {
	flex-basis: 50%;
	max-width: 50%;
	height: 70%;
	border-radius: 0.3em;
	box-shadow: 0 0 0.5em 1em #F6F5F5;
}
.page3 > section {
	padding-left: 5%;
	flex-basis: 50%;
}
.page3 > section > p {
	font-size: 1.2em;
}
.page3 > section > button {
	margin-top: 2%;
	width: 10em;
	height: 2.5em;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 1.1em;
	color: white;
	background-color: #8B8589;
	border-radius: 0.3em;
}
.page3 > section > button:hover span {
	font-size: 1.2em;
}
.page3 > section > button:hover {
	background-color: white;
	color: #8B8589;
}
#page4h1 {
	padding-top: 5%;
	color: #8B8589;
	font-size: 2.8em;
}
#page7h1 {
	padding-top: 4%;
	font-size: 2.8em;
}
#page8h1 {
	padding-top: 5%;
	color: #8B8589;
	font-size: 2.8em;
}
.productgrid {
	margin: auto;
	width: 80%;
	height: 70vh;
	margin-top: 2%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 35vh 35vh;
}
.productgrid img {
	width: 90%;
	height: 80%;
	border: 1px solid black;
	border-radius: 0.3em;
	background-color: white;
}
.productdescription {
	position: relative;
	height: 25%;
	width: 100%;
	bottom: 8%;
	gap: 1em;
	color: white;
	background-color: black;
	border-radius: 0.3em;
	padding-top: 0.1em;
}
.description {
	display: none;
	padding-top: 0.5em;
}
.productdescription > span[id^="hover"] {
	display: inline-block;
	padding-top: 0.2em;
}
.productdescription > span {
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}
.companiesgrid {
	margin: auto;
	width: 80%;
	height: 40vh;
	margin-top: 2%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.companiesgrid img {
	width: 90%;
	height: 70%;
	border: 1px solid black;
	border-radius: 0.3em;
}
.companiesgrid .companiesdescription {
	margin: auto;
	position: relative;
	height: 32%;
	width: 75%;
	bottom: 22%;
	color: white;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.1em;
	background-color: black;
	border-radius: 0.3em;
}
.companiesdescription > p {
	font-size: 0.9em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
.companiesdescription > span {
	font-weight: 600;
}
.categorygrid {
	margin: auto;
	width: 90%;
	height: 70vh;
	padding-top: 4%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.innergrid {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: 20em 20em;
	grid-template-rows: 12em 12em 12em;
	grid-template-areas: "firstvideo firstvideo"
						 "firstvideo firstvideo"
						 "firstproduct secondproduct";
}
.firstvideo {
	margin: auto;
	grid-area: firstvideo;
	max-height: 20.2em;
	max-width: 43em;
	border: 1px solid black;
	border-radius: 0.3em;
	color: white;
	position: relative;
}
.firstvideo > span {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.6em;
	font-weight: 500;
	text-shadow: 0.07em 0.07em #434242;
}
.firstproduct {
	margin: auto;
	grid-area: firstproduct;
	border: 1px solid black;
	border-radius: 0.3em;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.secondproduct {
	margin: auto;
	grid-area: secondproduct;
	border: 1px solid black;
	border-radius: 0.3em;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.firstproduct > img {
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	background-color: white;
}
.secondproduct > img {
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	background-color: white;
}
.firstvideo > video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.3em;
}
.aboutgrid {
	margin: auto;
	width: 90%;
	height: 70vh;
	padding-top: 10%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "about productsslide";
	color: white;
}
#about {
	width: 100%;
	height: 100%;
	grid-area: about;
}
#about > h2 {
	font-size: 1.8em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#about > p {
	font-size: 1.3em;
}
#products {
	max-height: 70vh;
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	border: 1px solid black;
	background-color: white;
	box-shadow: 0.37em 0.37em 0.31em #434242;
}
#productsslide {
	position: relative;
	grid-area: productsslide;
}
#productsdescription {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5%;
	font-size: 1.5em;
	font-weight: 500;
	text-shadow: 0.07em 0.07em #B4B4B8;
	color: black;
}
#page5h1 {
	font-size: 3em;
}
.page3 a {
	color: #8B8589;
}
.page3 a:link {
	text-decoration: none;
	font-size: 1.6em;
	font-weight: 650;
}
.page3 a:hover {
	text-decoration: none;
	color: white;
}
footer a {
	color: white;
	display: block;
	margin-top: 0.2em;
}
footer a:link {
	font-size: 1em;
}
#facebook:hover {
	color: #0866FF;
}
#twitter:hover {
	color: #1A8CD8;
}
#instagram:hover {
	background-image: linear-gradient(135deg, #405de6 0%, #5851db 15%, #833ab4 30%, #dd2a7b 45%, #feda77 60%);
    background-clip: text;
    color: transparent;
}
#skype:hover {
	color: #00AAE8;
}
#viber:hover {
	color: #7765F2;
}
#whatsapp:hover {
	color: #40DD4F;
}
#calculator:hover {
	color: #DAC0A3;
}
#weather:hover {
	color: #327800;
}
@media (min-width: 350px) and (max-width: 600px) {
	header {
		position: absolute;
	}
	.page2 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 0.5em;
		row-gap: 1%;
	}
	.page2 > section > img {
		width: 80%;
		height: 70%;
	}
	.page3 {
		flex-direction: column;
		padding-top: 10%;
	}
	.page3 > img {
		flex-basis: 40%;
		max-width: 100%;
		max-height: 50%;
	}
	.page3 > section {
		flex-basis: 60%;
		padding-top: 5%;
	}
	#page3h1 {
		font-size: 2.7em;
	}
	.page3 a:link {
		font-size: 1.5em;
	}
	#page3h3 {
		font-size: 1.3em;
	}	
	.productgrid {
		width: 90%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 25vh 25vh 25vh;
	}
	.description {
		font-size: 0.5em;
	}
	.productdescription > span[id^="hover"] {
		font-size: 0.6em;
	}
	.productdescription > h3 {
		font-size: 0.7em;
	}
	.background {
		width: 200px;
		max-width: 100%;
		height: 350px;
		top: 5em;
		transform: rotate(270deg);
		background-position: center center;
		left: 32vw;
	}
	@media (max-width: 500px) {
		.background {
			left: 21.5vw
		}
	}
	.page1 {
		position: absolute;
		top: 45%;
		left: 4%;
	}
	.page1 > h1 {
		font-size: 2.5em;
	}
	.page1 > h2 {
		font-size: 2em;
	}
	.page1 > h3 {
		font-size: 1.5em;
	}
	.page1 > p {
		font-size: 1.3em;
	}
	header > img {
		height: 6vh;
	}
	.aboutgrid {
		height: 100vh;
		grid-template-rows: 50% 50%;
		grid-template-columns: 1fr;
		grid-template-areas: "productsslide"
							 "about";	
	}
	#page5h1 {
		font-size: 2em;
	}
	#about > h2 {
		font-size: 1.2em;
	}
	#about > p {
		font-size: 0.8em;
	}
	#productsslide {
		width: 100vw;
	}
	#products {
		width: 90%;
	}
	#about {
		width: 90%;
	}
	.page6 > section > section {
	    height: 70%;
	    width: 80%;
	}
	.page6 > h1 {
		font-size: 2em;
	}
	.page6 p {
		font-size: 1em;
		padding-top: 1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
	.page6 img {
		top: 65%;
	}
	.categorygrid {
		margin-top: 5%;
		grid-template-rows: 1fr 1fr;
		gap: 2em;
		grid-template-columns: 1fr;
	}
	.innergrid {
		gap: 0.1em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 0.5fr 1fr;
		grid-template-areas: "firstvideo firstvideo"
						 "firstvideo firstvideo"
						 "firstproduct secondproduct";
	}
	.firstvideo > video {
		max-height: 25vh;
	}
	.firstproduct, .secondproduct {
		max-height: 16vh;
		max-width: 35vw;
	}
	.firstvideo > span {
		font-size: 1.4em;
		bottom: 0.5em;
	}
	footer {
		text-align: left;
		height: auto;
		gap: 1em;
		grid-template-rows: auto auto;
		grid-template-columns: 36% 32% 32%;
		grid-template-areas: "footer1 footer2 footer3"
							 "footer4 footer4 footer4";
		padding-top: 1em;
	}
	footer h2 {
		font-size: 0.8em;
	}
	#footer4 {
		margin: 0;
		margin-bottom: 1em;
	}
	.companiesgrid {
		height: auto;
		gap: 0.5em;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	div:nth-child(8) {
		height: auto;
	}
	.companiesdescription > p {
		font-size: 0.6em;
	}
	.companiesdescription > span {
		font-size: 0.8em;
	}
	#productsdescription {
		font-size: 0.8em;
		left: 45%;
		transform: translateX(-50%);
	}
}