body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 9vh;
	padding-top: 1vh;
	display: flex;
	align-items: center;
	justify-content: center; 
}
header > img {
	height: 8vh;
}
.mainContent {
	display: flex;
	flex-direction: column;
}
h1, h2, h3 {
	margin: 0.5em 0.5em 0em 0em;
}
div {
	width: 100%;
}
div > div {
	height: 100vh;
}
div:nth-child(odd) {
	background-color: black;
}
div:nth-child(even) {
	background-color: #F5F5F7;
}
.background {
	position: absolute;
	width: 25vw;
	height: 94vh;
	z-index: 0;
	background-image: url("../images/phone.png");
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotate(-40deg);
	top: 0em;
	left: 60em;
	overflow-x: hidden;
}
.page1 {
	position: absolute;
	top: 25%;
	left: 4%;
}
.page1 > h1 {
	font-size: 5em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > h2 {
	font-size: 2.8em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > h3 {
	font-size: 2em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page1 > p {
	font-size: 1.3em;
	background: linear-gradient(to left,
					#EBE8E3,
					#A5A09A,
					#4E505C,
                    #50504E);
	color: transparent;
	background-clip: text;
}
.page6 {
	text-align: center;
	width: 100%;
	height: 100%;
}
.page6 > h1 {
	padding-top: 5%;
	font-size: 2.8em;
	color: #8B8589;
}
.page6 > section > section {
    margin: auto;
    margin-top: 5%;
    height: 55%;
    width: 40%;
    border: 2px solid #434242;
    box-shadow: 0.37em 0.37em 0.31em #434242;
    border-radius: 50px;
    position: absolute;
    background-color: #8B8589;
    color: #F5F5F7;
}
#review1 {
    z-index: 0;
    left: 5%;
    filter: blur(3px);
}
.page6 p {
	text-align: justify;
	font-size: 1.1em;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}
.reviewer {
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: 15%;
}
#review2 {
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}
#review3 {
    z-index: 0;
    right: 5%;
    filter: blur(3px);
}
.page6 img {
	position: relative;
	top: 58%;
	border: 2px outset #434242;
	margin: 0.5em;
	border-radius: 50%;
	z-index: 3;
}
#profile1, #profile3 {
	width: 4em;
	height: 4em;
}
#profile2 {
	width: 5em;
	height: 5em;
}
div:nth-child(8) {
	height: 70vh;
}
footer {
	width: 80%;
	height: 30vh;
	display: grid;
	grid-template-columns: 35% 15% 15% 35%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: black;
}
#footer1 {
	margin: auto;
	color: white;
	font-size: 0.7em;
}
#footer1 > img {
	width: 3em;
	height: 3em;
}
#footer2 {
	text-align: center;
}
#footer3 {
	text-align: center;
}
#footer4 {
	margin: auto;
	color: white;
}
#footer4 > h2 {
	font-size: 1em;
}
#footer4 > p {
	font-size: 0.7em;
}
#footer4 > input {
	border-radius: 0.3em;
	height: 1.8em;
	width: 14em;
	font-size: 1.1em;
	font-family: "Montserrat", sans-serif;
}
#footer4 > button {
	color: black;
	background-color: white;
	font-size: 1.1em;
	height: 2.1em;
	width: 6em;
	cursor: pointer;
	border-radius: 0.3em;
	font-family: "Montserrat", sans-serif;
}
.page2 {
	width: 100%;
	display: grid;
	margin-top: 5%;
	flex-direction: row;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.page2 > section {
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 0%;
}
.page2 > section > img {
	width: 100%;
	height: 100%;
	max-width: 20em;
	max-height: 18em;
	border: 1px solid #D8D9DA;
	border-radius: 0.3em;
	box-shadow: 0.37em 0.37em 0.31em #434242;
	background-color: white;
}
.page2 > section > span {
	margin-top: 2%;
	display: block;
	font-weight: 600;
	color: #8B8589;
}
div:nth-child(2), div:nth-child(4), div:nth-child(8) {
	text-align: center;
}
#page2h1 {
	padding-top: 7%;
	font-size: 2.8em;
	color: #8B8589;
}
#page2h2 {
	font-size: 2em;
	color: #8B8589;
}
#page3h1 {
	font-size: 4em;
}
#page3h2 {
	font-size: 2em;
}
#page3h3 {
	font-size: 1.5em;
}
.page3 {
	display: flex;
	width: 90%;
	height: 100%;
	flex-direction: row;
	text-align: left;
	align-items: center;
	margin: auto;
	margin-top: 2%;
	color: white;
}
.page3 > img {
	flex-basis: 50%;
	max-width: 50%;
	height: 70%;
	border-radius: 0.3em;
	box-shadow: 0 0 0.5em 1em #F6F5F5;
}
.page3 > section {
	padding-left: 5%;
	flex-basis: 50%;
}
.page3 > section > button {
	margin-top: 2%;
	width: 10em;
	height: 2.5em;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 1.1em;
	border-radius: 0.3em;
}
#page4h1 {
	padding-top: 5%;
	font-size: 2.8em;
}
#page7h1 {
	padding-top: 4%;
	font-size: 2.8em;
}
#page8h1 {
	padding-top: 5%;
	font-size: 2.8em;
}
.productgrid {
	margin: auto;
	width: 80%;
	height: 70vh;
	margin-top: 2%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 35vh 35vh;
}
.productgrid img {
	width: 90%;
	height: 80%;
	border: 1px solid black;
	border-radius: 0.3em;
	background-color: white;
}
.productdescription {
	position: relative;
	height: 25%;
	width: 100%;
	bottom: 8%;
	gap: 1em;
	color: white;
	background-color: black;
	border-radius: 0.3em;
	padding-top: 0.1em;
}
.description {
	display: none;
	padding-top: 0.5em;
}
.productdescription > span[id^="hover"] {
	display: inline-block;
	padding-top: 0.2em;
}
.productdescription > span {
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}
.companiesgrid {
	margin: auto;
	width: 80%;
	height: 40vh;
	margin-top: 2%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
.companiesgrid img {
	width: 90%;
	height: 70%;
	border: 1px solid black;
}
.companiesgrid .companiesdescription {
	margin: auto;
	position: relative;
	height: 42%;
	width: 65%;
	bottom: 35%;
	color: white;
	background-color: black;
}
.categorygrid {
	margin: auto;
	width: 90%;
	height: 70vh;
	padding-top: 4%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.innergrid {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 1em;
	grid-template-columns: 20em 20em;
	grid-template-rows: 12em 12em 12em;
	grid-template-areas: "firstvideo firstvideo"
						 "firstvideo firstvideo"
						 "firstproduct secondproduct";
}
.firstvideo {
	margin: auto;
	grid-area: firstvideo;
	max-height: 20.2em;
	max-width: 43em;
	border: 1px solid black;
	border-radius: 0.3em;
	color: white;
	position: relative;
}
.firstvideo > span {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.6em;
	font-weight: 500;
	text-shadow: 0.07em 0.07em #434242;
}
.firstproduct {
	margin: auto;
	grid-area: firstproduct;
	border: 1px solid black;
	border-radius: 0.3em;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.secondproduct {
	margin: auto;
	grid-area: secondproduct;
	border: 1px solid black;
	border-radius: 0.3em;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.firstproduct > img {
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	background-color: white;
}
.secondproduct > img {
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	background-color: white;
}
.firstvideo > video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.3em;
}
.aboutgrid {
	margin: auto;
	width: 90%;
	height: 70vh;
	padding-top: 10%;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr;
	color: white;
}
#about {
	width: 100%;
	height: 100%;
}
#productsslide >img {
	max-height: 70vh;
	width: 100%;
	height: 100%;
	border-radius: 0.3em;
	border: 1px solid black;
}
#page5h1 {
	font-size: 3em;
}